:root {
    --lg-container: 1160px;
    --size-bezel: 0.5rem;
    --size-radius: 4px;
}

.social {
    cursor: pointer;
    display: inline-block;
    background: none;
    border: 1.5px black solid;
    border-radius: 3px;
    padding: 0.5rem 0.5rem;
    text-align: center;
    text-decoration: none;
    margin-right: 0.5rem;
    margin: 1rem 0;
    transition: all 0.2s ease-in;

    &:hover {
        background-color: black;

        img {
            filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(159deg) brightness(104%) contrast(103%);
        }
    }

    img {
        width: 20px;
        height: 20px;
        transition: all 0.2s ease-in;
    }
}

.heart {
    filter: invert(80%) sepia(69%) saturate(3941%) hue-rotate(312deg) brightness(96%) contrast(102%);
}

.paw {
    filter: invert(100%) sepia(87%) saturate(0%) hue-rotate(275deg) brightness(104%) contrast(103%);
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 2rem auto 0.5rem auto;
}

//Form
.form-flex {
    display: flex;
    flex-direction: column;
    max-width: 650px;
    margin-top: 3rem;
}

.input-row {
    margin: 1rem 0px;
}

.input {
    position: relative;

    textarea {
        height: 5rem;
    }

    &__label {
        position: absolute;
        left: 0;
        top: 0;
        padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * 0.5);
        margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * 0.5);
        white-space: nowrap;
        transform: translate(0, 0);
        transform-origin: 0 0;
        background: white;
        transition: transform 120ms ease-in;
        font-weight: bold;
        line-height: 1.2;
        color: rgba(0, 0, 0, 0.4);
    }
    &__field {
        box-sizing: border-box;
        display: block;
        height: 3.5rem;
        width: 100%;
        border: 3px solid #757384;
        padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
        color: currentColor;
        background: transparent;
        border-radius: var(--size-radius);
        font-family: "Input Sans";
        font-size: 1rem;

        &:focus,
        &:not(:placeholder-shown) {
            & + .input__label {
                transform: translate(0.25rem, -65%) scale(0.8);
                color: var(--color-primary);
            }
        }
    }
}

.error {
    color: red;
}

.success {
    color: green;
}

.overlay-dark {
    box-shadow: inset 0 0 0 1000px rgb(41 41 41 / 87%);
}

.cube {
    margin: auto;
    font-size: 24px;
    height: 1em;
    width: 1em;
    position: relative;
    transform-style: preserve-3d;
    animation: cube-spin 1.5s infinite ease-in-out alternate both;
}

.side {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform-style: preserve-3d;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: currentcolor;
        transform: translatez(0.5em);
        animation: cube-explode 1.5s infinite ease-in-out;
        opacity: 0.5;
    }
}

@for $i from 1 through 4 {
    .side:nth-child(#{$i}) {
        transform: rotatey(90deg * $i);
    }
}

.side:nth-child(5) {
    transform: rotatex(90deg);
}

.side:nth-child(6) {
    transform: rotatex(270deg);
}

@keyframes cube-spin {
    0% {
        transform: rotatex(35.264deg) rotatey(45deg);
    }
    100% {
        transform: rotatex(35.264deg) rotatey(45deg + 360deg);
    }
}

@keyframes cube-explode {
    0% {
        transform: translatez(0.5em);
    }
    50% {
        transform: translatez(0.5em * 1.5);
    }
    100% {
        transform: translatez(0.5em);
    }
}
